# docker compose up --remove-orphans -V -d
networks:
  default:
    name: ${ENV_NET:-env}
    external: true

volumes:
  home:

services:

  app:
    image: xampp/php:8.5
    command:
      - rr
      - serve
    hostname: ${ENV_URL:-${COMPOSE_PROJECT_NAME}.app.localhost}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ${ENV_VOLUME_HOME:-home:/home/app}
      - .:/app
    extra_hosts:
      - host.docker.internal:host-gateway
    environment:
      APP_ENV: ${APP_ENV-prod}
    labels:
      - traefik.enable=true
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-app.loadbalancer.server.port=8080
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.service=${COMPOSE_PROJECT_NAME}-app
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=443
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.tls=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`${ENV_URL:-${COMPOSE_PROJECT_NAME}.app.localhost}`)

  # sudo scanmem $(pidof dosbox) -c 'dregion !9; option scan_data_type bytearray;'
  dosbox:
    image: xampp/dosbox
    environment:
      - XAUTHORITY
    volumes:
      - .:/app
      # grafik
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
      - ${XAUTHORITY}:${XAUTHORITY}:ro
      - /dev/shm:/dev/shm
      # audio
      - ~/.config/pulse/cookie:/home/app/.config/pulse/cookie:ro
      - ${XDG_RUNTIME_DIR}/pulse/native:${XDG_RUNTIME_DIR}/pulse/native:ro
    command:
      - dosbox
      - ./resources/REEDER.EXE
    devices:
      - /dev/snd
      - /dev/dri

  ksv:
    image: kaitai/ksv
    hostname: ksv
    entrypoint:
      - tail
      - -f
      - /dev/null
