# docker compose up --remove-orphans -V -d
networks:
  default:
    name: ${ENV_NET:-env}
    external: true

volumes:
  home:

services:

  app:
    image: xampp/php:8.5
    command:
      - rr
      - serve
    hostname: ${ENV_URL:-${COMPOSE_PROJECT_NAME}.app.localhost}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ${ENV_VOLUME_HOME:-home:/home/app}
      - .:/app
    extra_hosts:
      - host.docker.internal:host-gateway
    environment:
      APP_ENV: ${APP_ENV-prod}
    labels:
      - traefik.enable=true
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-app.loadbalancer.server.port=8080
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.service=${COMPOSE_PROJECT_NAME}-app
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.entrypoints=443
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.tls=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-app.rule=Host(`${ENV_URL:-${COMPOSE_PROJECT_NAME}.app.localhost}`)

  # sudo scanmem $(pidof dosbox) -c 'dregion !9; option scan_data_type bytearray;'
  dosbox:
    build:
      dockerfile_inline: |-
        FROM tudorh/dosbox:hostpulse
        RUN adduser -D app
        USER app
        COPY --chown=app:app <<EOF /home/app/.dosbox/dosbox-0.74-2.conf
        [sdl]
        windowresolution=1600x900
        output=overlay
        autolock=false
        [dos]
        keyboardlayout=gr
        [autoexec]
        mount C /app/resources
        C:
        EOF
    entrypoint:
      - dosbox
#      - tail
#      - -f
#      - /dev/null
    cap_add: # docker compose exec --user root dosbox /app/bin/dump-reeder-memory
      - SYS_PTRACE
    environment:
      DISPLAY: unix${DISPLAY}
      XAUTHORITY: /home/app/.Xauthority
    volumes:
      - ~/.config/pulse:/home/app/.config/pulse:ro
      - ${XAUTHORITY}:/home/app/.Xauthority:ro
      - /run/user/${UID:-1000}/pulse:/run/pulse:ro
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
      - /dev/shm:/dev/shm
      - .:/app
